html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  background-color: #BBE1FA;
  color: #1B262C;
  font-family: 'Epilogue', sans-serif;
}

a {
  color: #1B262C !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sora', sans-serif;
}

.nav-link:hover {
  color: #0F4C75 !important;
}

.nav-link {
  padding-top: 1rem;
}

.bg-light {
  background-color: #3282B8 !important;
}

.navbar {
  padding: 1rem;
  position: sticky;
  top: 0;
  transition: padding 0.4s;
  z-index: 100;
}

.carousel-title-perslide {
  position: absolute;
  z-index: 50 !important;
  color: #1B262C;
  font-size: 4rem;
  text-align: center !important;
  margin-top: 25rem;
}

.text-slide{
  text-align: center;
}

.title {
  text-align: center;
  margin-top: 4rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.btn-outline-success {
  color: #0F4C75;
  border: 0;
}

.btn-outline-success:hover {
  background-color: #3282B8 !important;
}

.btn {
  border-radius: 0 !important;
}

.carousel-image{
  width: 100%;
}

.coustomerReviews{
  text-align: center;
}

.title_reviews{
  margin-top: 10rem;
}

.form-control, .form-control:hover, .form-control:focus {
  background-color: #3282B8;
  border-radius: 0;
  border-color: #0F4C75;
  color: #0F4C75;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 1px;
  box-shadow: none !important;
  outline: none !important;
}

::placeholder {
  color: #0F4C75 !important;
}

.fade-in {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
